build
aie_component
app_component
hls_component
*hw*.*
.ipcache
# aie work
Work
function_*
trdata*
aiesimulator_output
*.wdb
*.wcfg
*.o
*lock
*.Xil
*.vcd
*.a
*.csv
*.db
ISS_*
.AIE_*

# host
hostexe
*.exe

# temp
_x
_x.hw.*
hw.*
hw_emu.*
*.ini
logs
.log
.peers.ini
.repo.yaml
.lock
.db
.vcd
v++*

.theia

.vscode
*.log




